## 데이터 결합

### Concat() / Append()

In [1]:
import pandas as pd
import numpy as np

In [2]:
s1 = pd.Series(['a', 'b'], index=[1, 2])
s2 = pd.Series(['c', 'd'], index=[3, 4])
pd.concat([s1, s2])

1    a
2    b
3    c
4    d
dtype: object

In [3]:
def create_df(cols, idx):
  data = {c: [str(c.lower()) + str(i) for i in idx] for c in cols}
  return pd.DataFrame(data, idx)

In [5]:
df1 = create_df('AB', [1, 2])
df1

    A   B
1  a1  b1
2  a2  b2

In [9]:
df2 = create_df('AB', [3, 4])
df2

    A   B
3  a3  b3
4  a4  b4

In [10]:
pd.concat([df1, df2])

    A   B
1  a1  b1
2  a2  b2
3  a3  b3
4  a4  b4

In [12]:
df3 = create_df('AB', [0,1 ])
df3

    A   B
0  a0  b0
1  a1  b1

In [13]:
df4 = create_df('CD', [0, 1])
df4

    C   D
0  c0  d0
1  c1  d1

In [14]:
pd.concat([df3, df4])

     A    B    C    D
0   a0   b0  NaN  NaN
1   a1   b1  NaN  NaN
0  NaN  NaN   c0   d0
1  NaN  NaN   c1   d1

In [24]:
pd.concat([df3, df4], axis=1)

    A   B   C   D
0  a0  b0  c0  d0
1  a1  b1  c1  d1

In [25]:
pd.concat([df1, df3])

    A   B
1  a1  b1
2  a2  b2
0  a0  b0
1  a1  b1

In [16]:
pd.concat([df1, df3], verify_integrity=True)    # 잘못된 concat 방지하는 옵션

ValueError: ignored

In [17]:
pd.concat([df1, df3], ignore_index=True)

    A   B
0  a1  b1
1  a2  b2
2  a0  b0
3  a1  b1

In [18]:
pd.concat([df1, df3], keys=['X', 'Y'])

      A   B
X 1  a1  b1
  2  a2  b2
Y 0  a0  b0
  1  a1  b1

In [20]:
df5 = create_df('ABC', [1, 2])
df6 = create_df('BCD', [3, 4])
pd.concat([df5, df6])

     A   B   C    D
1   a1  b1  c1  NaN
2   a2  b2  c2  NaN
3  NaN  b3  c3   d3
4  NaN  b4  c4   d4

In [21]:
pd.concat([df5, df6], join='inner')

    B   C
1  b1  c1
2  b2  c2
3  b3  c3
4  b4  c4

In [22]:
df5.append(df6)

     A   B   C    D
1   a1  b1  c1  NaN
2   a2  b2  c2  NaN
3  NaN  b3  c3   d3
4  NaN  b4  c4   d4

### 병합과 조인

In [26]:
df1 = pd.DataFrame({'학생':['홍길동', '이순신', '임꺽정', '김유신'],
                   '학과':['경영학과', '교육학과', '컴퓨터학과', '통계학과']})
df1

    학생     학과
0  홍길동   경영학과
1  이순신   교육학과
2  임꺽정  컴퓨터학과
3  김유신   통계학과

In [27]:
df2 = pd.DataFrame({'학생':['홍길동', '이순신', '임꺽정', '김유신'],
                    '입학년도':[2012, 2016, 2019, 2020]})
df2

    학생  입학년도
0  홍길동  2012
1  이순신  2016
2  임꺽정  2019
3  김유신  2020

In [28]:
df3 = pd.merge(df1, df2)
df3

    학생     학과  입학년도
0  홍길동   경영학과  2012
1  이순신   교육학과  2016
2  임꺽정  컴퓨터학과  2019
3  김유신   통계학과  2020

In [30]:
df4 = pd.DataFrame({'학과':['경영학과', '교육학과', '컴퓨터학과', '통계학과'],
                    '학과장':['황희', '장영실', '안창호', '정약용']})
df4

      학과  학과장
0   경영학과   황희
1   교육학과  장영실
2  컴퓨터학과  안창호
3   통계학과  정약용

In [31]:
pd.merge(df3, df4)

    학생     학과  입학년도  학과장
0  홍길동   경영학과  2012   황희
1  이순신   교육학과  2016  장영실
2  임꺽정  컴퓨터학과  2019  안창호
3  김유신   통계학과  2020  정약용

In [32]:
df5 = pd.DataFrame({'학과':['경영학과', '교육학과', '교육학과', '컴퓨터학과', '컴퓨터학과', '통계학과'],
                    '과목':['경영개론', '기초수학', '물리학', '프로그래밍', '운영체제', '확률론']})
df5

      학과     과목
0   경영학과   경영개론
1   교육학과   기초수학
2   교육학과    물리학
3  컴퓨터학과  프로그래밍
4  컴퓨터학과   운영체제
5   통계학과    확률론

In [33]:
pd.merge(df1, df5)

    학생     학과     과목
0  홍길동   경영학과   경영개론
1  이순신   교육학과   기초수학
2  이순신   교육학과    물리학
3  임꺽정  컴퓨터학과  프로그래밍
4  임꺽정  컴퓨터학과   운영체제
5  김유신   통계학과    확률론

In [35]:
pd.merge(df1, df2, on='학생')

    학생     학과  입학년도
0  홍길동   경영학과  2012
1  이순신   교육학과  2016
2  임꺽정  컴퓨터학과  2019
3  김유신   통계학과  2020

In [36]:
df6 = pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정', '김유신'],
                    '성적':['A', 'A+', 'B', 'A+']})
df6

    이름  성적
0  홍길동   A
1  이순신  A+
2  임꺽정   B
3  김유신  A+

In [37]:
pd.merge(df1, df6, left_on='학생', right_on='이름')

    학생     학과   이름  성적
0  홍길동   경영학과  홍길동   A
1  이순신   교육학과  이순신  A+
2  임꺽정  컴퓨터학과  임꺽정   B
3  김유신   통계학과  김유신  A+

In [38]:
pd.merge(df1, df6, left_on='학생', right_on='이름').drop('이름', axis=1)

    학생     학과  성적
0  홍길동   경영학과   A
1  이순신   교육학과  A+
2  임꺽정  컴퓨터학과   B
3  김유신   통계학과  A+

In [39]:
mdf1 = df1.set_index('학생')
mdf2 = df2.set_index('학생')

In [40]:
mdf1

        학과
학생
홍길동   경영학과
이순신   교육학과
임꺽정  컴퓨터학과
김유신   통계학과

In [41]:
mdf2

     입학년도
학생
홍길동  2012
이순신  2016
임꺽정  2019
김유신  2020

In [42]:
pd.merge(mdf1, mdf2, left_index=True, right_index=True)

        학과  입학년도
학생
홍길동   경영학과  2012
이순신   교육학과  2016
임꺽정  컴퓨터학과  2019
김유신   통계학과  2020

In [43]:
mdf1.join(mdf2)

        학과  입학년도
학생
홍길동   경영학과  2012
이순신   교육학과  2016
임꺽정  컴퓨터학과  2019
김유신   통계학과  2020

In [44]:
pd.merge(mdf1, df6, left_index=True, right_on='이름')

      학과   이름  성적
0   경영학과  홍길동   A
1   교육학과  이순신  A+
2  컴퓨터학과  임꺽정   B
3   통계학과  김유신  A+

In [47]:
df7 = pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정'],
                 '주문음식':['햄버거', '피자', '짜장면']})
df7

    이름 주문음식
0  홍길동  햄버거
1  이순신   피자
2  임꺽정  짜장면

In [48]:
df8 = pd.DataFrame({'이름':['홍길동', '이순신', '김유신'],
                    '주문음료':['콜라', '사이다', '커피']})
df8

    이름 주문음료
0  홍길동   콜라
1  이순신  사이다
2  김유신   커피

In [49]:
pd.merge(df7, df8)

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다

In [50]:
pd.merge(df7, df8, how='inner')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다

In [51]:
pd.merge(df7, df8, how='outer')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면  NaN
3  김유신  NaN   커피

In [52]:
pd.merge(df7, df8, how='left')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  임꺽정  짜장면  NaN

In [53]:
pd.merge(df7, df8, how='right')

    이름 주문음식 주문음료
0  홍길동  햄버거   콜라
1  이순신   피자  사이다
2  김유신  NaN   커피

In [54]:
df9 = pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정', '김유신'],
                   '순위':[3, 2, 4, 1]})
df9

    이름  순위
0  홍길동   3
1  이순신   2
2  임꺽정   4
3  김유신   1

In [55]:
df10 = pd.DataFrame({'이름':['홍길동', '이순신', '임꺽정', '김유신'],
                     '순위':[4, 1, 3, 2]})
df10

    이름  순위
0  홍길동   4
1  이순신   1
2  임꺽정   3
3  김유신   2

In [56]:
pd.merge(df9, df10, on='이름')

    이름  순위_x  순위_y
0  홍길동     3     4
1  이순신     2     1
2  임꺽정     4     3
3  김유신     1     2

In [57]:
pd.merge(df9, df10, on='이름', suffixes=['_인기', '_성적'])

    이름  순위_인기  순위_성적
0  홍길동      3      4
1  이순신      2      1
2  임꺽정      4      3
3  김유신      1      2